<div id="GAL_1_0_1_PSYCHOSOCIAL_IMPACT" class="hwaccel modal gal_1_0_1_psychosocial_impact hwaccel fade-on-load">
	<div class="close-button" data-closemodal></div>
	<div class="container">
	    <div class="content " data-animate="fade-in-cells">
	        <div class="header-row row">
	            <h1>
	                Facial erythema of rosacea negatively impacts
	                <span>the daily lives of sufferers<sup>1*</sup></span>
	            </h1>
	        </div>
	        <div class="content-area">
	            <div class="left-column" data-url="GAL_1_1_MODERATE">

	            </div>
	            <div class="right-column" data-url="GAL_1_1_SEVERE">

	            </div>
	        </div>
	        <div class="diclaimer">

	        </div>
	    </div>
</div>