<div id="GAL_2_0_1_MEAN_CHANGE" class="hwaccel modal mean-change-2-0-1 hwaccel fade-on-load">
	<div class="close-button" data-closemodal></div>
	<div class="container">
	     <div class="content " data-animate="fade-in-cells">
	         <div class="header-row row">
	             <h1>
	             	Proven long-term efficacy with
	             	consistent reduction in erythema <span>OVER 1 YEAR</span>
	             </h1>
	         </div>
	         <div class="content-area">

	         </div>
	         <div class="lower-content">

	         </div>
	         <div class="diclaimer">

	         </div>
	     </div>
	 </div>
</div>