<div id="menu">
    <div class="tactupump_forte_menu">
        <div id="menuToggle"></div>
        <div id="menuLogo"></div>
    </div>
</div>
<div id="menuOverlay">
	<div id="menuSlide">
		<nav class="menu_nav">
			<ul>
				<div class="menu-top-row">
					<li class="menu-item1 main-active" data-url="GAL_1_0_HOME"><span>HOME</span></li>
					<li class="menu-item2 shadow moa-flow-active" data-url="GAL_2_0_LONG_TERM_EFFICACY"><span>LONG-TERM <br />EFFICACY <br />(BRYTHEMA<br />SEVERITY) </span></li>
				</div>
				<div class="menu-bottom-row">
					<li class="menu-item4 shadow moa-flow-active" data-url="GAL_3_0_DECREASE_IN_DEMATOLOGIC"><span>DECREASE IN <br />DEMATOLOGIC<br /> AEs </span></li>
					<li class="menu-item5 shadow moa-flow-active" data-url="GAL_4_0_APPLICATION"><span>APPLICATION </span></li>
				</div>
			</ul>
		</nav>
		<div class="menu-utility-row">
			<nav class="utility_nav">
			    <ul>
			        <li class="moa-flow-active" data-url="GAL_1_1_MODERATE"><span>MODERATE<br /> PHOTOS<br /> 12 HOURS</span></li>
			        <li class="moa-flow-active" data-url="GAL_1_1_SEVERE"><span>SEVERE<br /> PHOTOS<br /> 12 HOURS</span></li>
			    </ul>
			</nav>
		</div>
	</div>
	<div id="menuFade"></div>
</div>