<nav class="page_nav">
    <ul>

        <li class="moa-flow-active" data-modal="GAL_2_0_1_MEAN_CHANGE"><span>SCARRING</span></li>
        <li class="moa-flow-active"  data-modal="spcModal"><span>PHOTO LIBRARY</span></li>
    </ul>
</nav>