<nav class="upper-utility_nav">
    <ul>
    {{#if refContent}}<li data-modal="referencesModal"><img src="assets/images/ref-icon.png" class="refModal">{{#unless singleRef}}{{/unless}}</li>{{/if}}
        <li data-modal="spcModal"><span>Summary of Product<br />Characteristics</span></li>
    </ul>
</nav>