<nav class="utility_nav">
    <ul>
    	<li class="psychsocial-impact moa-flow-active"  data-modal="GAL_1_0_1_PSYCHOSOCIAL_IMPACT"><span>PSYCHOSOCIAL<br />IMPACT</span></li>
    	<li class="mean-change moa-flow-active"  data-modal="GAL_2_0_1_MEAN_CHANGE"><span>MEAN CHANGE<BR />FROM BASELINE</span></li>
    </ul>
</nav>