---
 title: GAL_1_0_HOME
 cssname: true
 jsname: true

 singleRef: true

 refContent:
 - <ol>
 - <li><span>1.</span> Dirschka T, Micali G, Papadopoulous L, Tan J, Layton A, Moore S. Perceptions on the psychological impact of facial erythema associated with rosacea&#58; results of internal survey. <em>Dermatol Ther</em>. 2015;5(2)&#58;117-127. <span>2.</span> Fowler J Jr, Jackson JM, Moore A, et al; Brimonidine Phase III Study Group. Efficacy and safety of once-daily topical brimonidine tartrate gel 0.5% for the treatment of moderate to severe facial erythema of rosacea&#58; results of two randomized, double-blind, vehicle-controlled pivotal studies. <em>J Drugs Dermatol</em>. 2013;12(6)&#58;650-655. <span>3.</span> Moore A, Kempers S, Murakawa G, et al; Brimonidine LTS Study Group. Long-term safety and efficacy of once-daily topical brimonidine tartrate gel 0.5% for the treatment of moderate to severe facial erythema of rosacea&#58; results of a 1-year open-label study. <em>J Drugs Dermatol</em>. 2014;13(1)&#58;56-61. <span>4.</span> MIRVASO (brimonidine) 3 mg/g Gel Summary of Product Characteristics. 2014. <span>5.</span> Long-term study data. Data on file. Galderma Laboratories, L.P. <span>6.</span> Tanghetti EA, Jackson JM, Belasco KT, et al. Optimizing the use of topical brimonidine in rosacea management&#58; panel recommendations. <em>J Drugs Dermatol</em>. 2015;14(1)&#58;33-40. </li>
 - </ol>

 ---
<div class="container">
    <div class="home-header-bg"></div>
    <div class="overlay-bg"></div>
    <div class="content " data-animate="fade-in-cells">
        <div class="header-row row">
            <h1>
                The Effects of Facial Erythema of Rosacea
                <span>Are More Than Skin Deep</span>
            </h1>
        </div>
        <div class="content-area">
            <div class="images-container">
                <ul>
                    <li data-url="GAL_1_1_MODERATE">
                        <img src="assets/images/1-0-home/moderate-1-0-img.jpg">
                    </li>
                    <li  data-url="GAL_1_1_SEVERE">
                        <img src="assets/images/1-0-home/severe-1-0-img.jpg" class="right-img">
                    </li>
                </ul>
            </div>
        </div>
        <div class="lower-content">
            <ul>
                <p>Results of an international survey prove<sup>1*</sup>:</p>
                <li>The majority (60%) of people feel embarrassed by their erythema</li>
                <li>People with erythema are more likely to be negatively judged by others</li>
            </ul>
        </div>
        <div class="lower-nav">
            {{>utility-nav}}
        </div>
        <div class="isi-disclaimer">
            <sup>*</sup>Results based on an international survey conducted in 8 countries with 6831 respondents (12% reported having facial erythema of rosacea) evaluating:  1) the impressions people have of those with erythema and 2) the psychosocial impact of erythema.<sup>1</sup>
        </div>
    </div>
</div>




