
@font-face {
    font-family: "DINPro-Bold";
    src: url(fonts/DINPro-Bold.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DINPro-Regular";
    src: url(fonts/DINPro-Regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTStd-Lt";
    src: url(fonts/HelveticaLTStd-Lt.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTStd-Cn";
    src: url(fonts/HelveticaLTStd-Cn.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTStd-BdCn";
    src: url(fonts/HelveticaLTStd-BdCn.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTStd-ThCn";
    src: url(fonts/HelveticaLTStd-ThCn.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTStd-CnO";
    src: url(fonts/HelveticaLTStd-ThCn.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

